

@*@section customelement{
        <script src="~/FrontEnd/Back/Content/Scripts/jquery.zclip.js"></script>
        <script src="~/FrontEnd/Back/Content/Scripts/jquery.fedatagrid.js"></script>
    }

    @section customelementregister{
        <script src="~/FrontEnd/Back/Content/Scripts/Boot.js"></script>
    }*@


<style>
    .FeImageMain .querybox li label {
        width: 72px;
    }
</style>





<div class="main FeImageMain">
    <div id="Query" class="querybox" style="margin: 5px 5px 5px 5px;">
        <ul class="clearfix">
            <li>
                <label for="labeldicName">文件夹：</label>
                <input id="textdicName" class="easyui-textbox" type="text" name="dicName" style="width: 150px;" />
            </li>
            <li>
                <label for="labelPicName">图片名称：</label>
                <input id="textPicName" class="easyui-textbox" type="text" name="PicName" style="width: 150px;" />
            </li>
            <li>
                <label for="labelCreator">上传者：</label>
                <input id="textCreator" class="easyui-textbox" type="text" name="Creator" style="width: 150px;" />
            </li>
            <li>
                <label for="pl">是否引用：</label>
                <select id="pl" class="easyui-combobox" name="pl" style="width: 150px;"  data-options="editable:false" >
                    <option value="-1">--全部--</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </li>      
        </ul>
        <ul class="clearfix" style="margin-bottom: 10px;">
            <li>
                <label for="CreatedOn">发布时间：</label>
                <input id="CreatedBeginDate" type="text" class="easyui-datebox" editable="false" style="width: 185px;"> 至 <input id="CreatedEndDate" type="text" editable="false" class="easyui-datebox" style="width: 185px;">
            </li>
            <li>
                <input type="checkbox" id="AloneShowImage" name="AloneShowImage" value="1" />只显示图片
            </li>

            <li>
                <a id="butQuery" class="easyui-linkbutton ml20" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
            </li>
        </ul>
    </div>
    <div id="picbox" style="margin: 5px 5px 5px 5px;">
        <div style="margin-top: 10px; margin-left: 10px;">
            <a id="butLoadPic" class="easyui-linkbutton">上传图片</a>
            <a id="butCreateDict" style="margin-left: 10px;" class="easyui-linkbutton" onclick="$('#dlg').dialog('open'); $('#textnewDicName').textbox('textbox').focus();; $('#textnewDicName').textbox('setText', '');">新建文件夹</a>
        </div>

        <Gf-GfFeDataGrid id="imageGfFeDataGrid"
                         autodirectoryclick
                         fit
                         isrefasyncurl="@Url.Content("~/FeImage/FileIsReference")"
                         navrighttext="大小12.3G 共12个文件夹和3个图片"
                         url="@Url.Content("~/FeImage/Get")"
                         showcheckbox
                         toolbuttons="['移动','设置水印','替换','查看引用','下载','放入回收站','彻底删除']"
                         pagination
                         loadmodel="cs"
                         @*paginationargs="{'showPageList':false,'loading':true,'showRefresh':false}"
                            datacolumns="[
                 {'title':'名称','field':'Name','align':'center'},
                 {'title':'类型','field':'FileType','align':'center','width':'100'},
                 {'title':'尺寸','field':'ImageSize','align':'center','width':'100'},
                 {'title':'大小','field':'FileSize','align':'center','width':'100'},
                 {'title':'是否引用','field':'IsRef','align':'center','width':'100','formatter':function (value,rowData,rowIndex){ if(value) {return '是';} else {return '否';} }},
                 {'title':'引用次数','field':'RefCount','align':'center','width':'100'},
                 {'title':'上传者','field':'Creator','align':'center'},
                 {'title':'上传时间','field':'CreateOn','align':'center','width':'233','formatter':function(value,rowData,rowIndex){ return DataFormater(value); }}
                 ]"*@
                         sortfields="[
                 {'name':'文件名','field':'name'},
                 {'name':'大小','field':'Size'},
                 {'name':'类型','field':'FileType'},
                 {'name':'修改时间','field':'ModifiedOn'},
                 {'name':'创建时间','field':'CreatedOn'}
                 ]">
        </Gf-GfFeDataGrid>
    </div>
</div>

<!--查看图片详情-->
<div id="dialog" style="display: none;">
    <Gf-GfFeImageViewer id="ImageViewer"
                        url="@Url.Content("~/FeImage/GetImageInfo")"
                        autoimageitemclick>
    </Gf-GfFeImageViewer>
</div>


@*'移动', '设置水印', '替换', '查看引用', '下载', '放入回收站', '彻底删除'*@
<div id="dlg" class="easyui-dialog" title="新建文件夹" style="width:450px;height:200px;padding:10px;" data-options="iconCls:'icon-save',closed:'false'">
    <div class="content" style="margin-top: 30px;">
        <div class="item">
            <label>文件夹名称：</label><input id="textnewDicName" type="text" class="easyui-textbox" style="width: 300px; margin-left: 10px;" />
        </div>
        <div style="text-align: center; margin-top: 10px;">
           <a onclick="NewDicNameSave()" style="margin-left: 30px;" class="easyui-linkbutton">保  存</a>
        </div>

        <input id="isEdit" type="hidden" value="0" />
    </div>
</div>

<div id="dlgMove" class="easyui-dialog" title="移动" style="width:450px;height:330px;padding:10px;" data-options="iconCls:'icon-save',closed:'false'">
    <div class="content">
        <div>移动到：<span id="moveToDirectory"></span></div>
        <div class="item">
            <ul id="dicTree" class="easyui-tree"></ul>
        </div>
        @*<a class="closedbtn" href="@Url.Action("Index", "FeImage")">取消</a>*@
        <div style="text-align: center; margin-top: 10px;">
            <a onclick="MoveSave()" class="easyui-linkbutton">保 存</a>
        </div>
        <input id="isMove" type="hidden" value="0"/>
    </div>
</div>

<div id="dlgSetWaterMark" class="easyui-dialog j-setup" title="设置水印" style="width:450px;height:330px;padding:10px;" data-options="iconCls:'icon-save',closed:'false'">
    <div class="content">
        <div><label class="j-left">选择水印：</label><input id="textWarterTye" style="width:265px" type="text" name="textWarterTye" /></div>
         <a onclick="SetWarterSave()" class="easyui-linkbutton savebtn">保存</a>
        <input id="isEdit" type="hidden" value="0" />
    </div>
</div>

<!--添加图片-->
<Gf-GfFeUpFileDialog id="imageUpFileDialog"
                     upfileserver="@Url.Content("~/FeImage/UpLoadProcess")"
                     getimgsizeurl="@Url.Content("~/FeImageType/GetImageSizeList")"
                     getwatermarkurl="@Url.Content("~/FeWatermark/GetFeWatermarkPageList")"
                     mimeTypes="image/*">
</Gf-GfFeUpFileDialog>


<!--查看引用-->
@Html.Action("FeReferenceDialog", new
{
    url = Url.Content("~/FeImage/GetReferenceList"),
    controlId = "ferenceDialog",
    pageSize = 6,
    htmlAttributes = new
    {
        width = 775,
        height = 366
    }
})


<script type="text/javascript">
    //$.parser.parse();
    $(function () {

        $("#butLoadPic").click(function () {

            $.ajax({
                url: "@Url.Content("~/FeFileUploadConfig/FileExtConfig?uploadType=Image")",
                type: "GET",
                cache: false,
                dataType: "text",
                success: function(ext) {

                    $.ajax({
                        url: "@Url.Content("~/FeFileUploadConfig/FileSizeConfig?uploadType=BackImage")",
                        type: "GET",
                        cache:false,
                        dataType: "text",
                        success: function(size) {

                            $("#imageUpFileDialog")[0].xtag.uploadType = "new";
                            $("#imageUpFileDialog")[0].directoryid = $("#imageGfFeDataGrid")[0].getDirectoryId();
                            $("#imageUpFileDialog")[0].directoryname = $("#imageGfFeDataGrid")[0].getDirectoryName();
                            $("#imageUpFileDialog")[0].showimagesizecheckbox = "true";
                            $("#imageUpFileDialog")[0].fileNumLimit = 100;
                            $("#imageUpFileDialog")[0].ext = ext;
                            $("#imageUpFileDialog")[0].fileSingleSizeLimit = size;
                            $("#imageUpFileDialog")[0].open();

                        }
                    });

                }
            });
            
        });

        $("#picbox").height(document.body.clientHeight - $("#Query").height() - 125);
        //alert($("#picbox").height());

        $("#imageGfFeDataGrid").each(function () {
            this.dataitemdblclick = function (dataItem, target, sortfield, sortType) {
                $("#ImageViewer")[0].reload(dataItem.Id, sortfield, sortType);
                $('#dialog').dialog({
                    closed: false,
                    cache: false,
                    modal: true,
                    title: '图片浏览器'
                });
            };
            this.changeviewstate = function (state, target) {
                //alert("changeviewstate"+state+"||"+target);
            };
            this.toolbuttonsclick = function (text, target) {
                //var dirId = $("#imageGfFeDataGrid")[0].getCruuentDirectoryId();  //外部调用方式
                //var dirId = target.getCruuentDirectoryId(); //内部调用方式
                //alert(target.getCheckList().length);
                // debugger;
                var checklist = target.getCheckList();
                //alert(target.getCheckList());
                //'移动','设置水印','替换','查看引用','下载','放入回收站','彻底删除'
                if (text == "彻底删除") {
                    $.messager.confirm('提示', '确认删除?', function (r) {
                        if (r) {
                            delFile(checklist);
                        }
                    });
                } else if (text == "移动") {
                    $('#dlgMove').dialog('open');
                    loadTree();

                } else if (text == "设置水印") {

                    $('#dlgSetWaterMark').dialog('open');
                    $('#textWarterTye').combobox({
                        url: '@Url.Action("GetFeWatermarkPageList", "FeWatermark")',
                        valueField: 'ID',
                        textField: 'Name',
                        editable:false,
                        onLoadSuccess: function () {
                            var data = $('#textWarterTye').combobox('getData');
                            $("#textWarterTye ").combobox('select', data[0].ID);
                        }
                    });


                } else if (text == "替换") {
                    $('#dlgReplace').dialog('open');
                    if (checklist.length > 0) {
                        imageReplace(checklist[0].Id);
                    }

                } else if (text == "查看引用") {

                    var obj = $("#imageGfFeDataGrid")[0].getCheckList();
                    var checkval = "";
                    for (var i in obj) {
                        checkval += obj[i].Id + ",";
                    }
                    if (checkval.length > 1) { checkval = checkval.substring(0, checkval.length - 1); }

                    //$("#ImageViewerRef")[0].reload(checkval);
                    $("#ferenceDialog").fereferencedialog("open", checkval);
                } else if (text == "下载") {
                    DownloadFile();
                } else if (text == "放入回收站") {
                    TrashFile();
                }

                //获取当前目录id
                // alert(dirId);
            };

            this.changecheck = function (items, target) {

                if (items && items.length > 0) {

                    var imgCount = 0;
                    var dirCount = 0;
                    var isRef = false;

                    for (var i = 0; i < items.length; i++) {

                        if (items[i].IsDirectory) {
                            dirCount++;
                        } else {
                            imgCount++;
                        }

                        if (items[i].IsRef) {
                            isRef = true;
                        }
                    }

                    //已选12个文件夹和3个图片
                    target.setLeftText("已选" + dirCount + "个文件夹和" + imgCount + "个图片");
                    var buttons = [];
                    buttons.push('移动');
                    //只有一张图片
                    if (imgCount == 1 && dirCount == 0) {
                        buttons.push('设置水印');
                        buttons.push('替换');
                        buttons.push('查看引用');
                        buttons.push('下载');
                    } else if (dirCount == 0) { //多张图片
                        buttons.push('设置水印');;
                        buttons.push('下载');
                    } else { //包含文件夹
                        buttons.push('下载');
                    }

                    if (!isRef) {
                        buttons.push('放入回收站');;
                        buttons.push('彻底删除');
                    }

                    target.setButtons(buttons);

                } else {
                    target.setButtons();
                    target.setLeftText();
                }

            };

            this.loaded = function (target) {

                target.setButtons();
                //target.setButtons(['移动', '设置水印', '替换', '查看引用', '下载', '放入回收站', '彻底删除']);
                //target.setLeftText();
                target.setNavRightText(target.getResult().NavRightText);
                //target.getDirectoryId();
                //var data = target.getResult()
            };

        });

    });

    function Search() {
        //var ploptions = $("#pl option:selected").val();
        $("#imageGfFeDataGrid")[0].setQueryParams([
            { 'field': 'dicname', 'value': $("#textdicName").val(), 'operator': '=' },
            { 'field': 'picname', 'value': $("#textPicName").val(), 'operator': '=' },
            { 'field': 'creator', 'value': $("#textCreator").val(), 'operator': '=' },
            { 'field': 'isref', 'value': $('#pl').combobox('getValue'), 'operator': '=' },
            //{ 'field': 'pictype', 'value': $('#textPicType').combobox('getValue'), 'operator': '=' },
            { 'field': 'showimage', 'value': $("#AloneShowImage").is(":checked"), 'operator': '=' },
            { 'field': 'begindate', 'value': $("#CreatedBeginDate").val(), 'operator': '<' },
            { 'field': 'enddate', 'value': $("#CreatedEndDate").val(), 'operator': '<' }
        ]);
        //target.setQueryParams("a=b,acd");
        $("#imageGfFeDataGrid")[0].reLoad();
    }

    //新增图片文件夹
    function NewDicNameSave() {
        var strnewdicname = $("#textnewDicName").val();
        var ishave = "false";
        platformAjax({
            url: "@Url.Action("ISExist", "FeImage")",
            type: "post",
            data: { parentdic: $("#imageGfFeDataGrid")[0].getDirectoryId(), newdicname: strnewdicname },
            async: false,
            success: function (data) {
                if (data.Data == "true") {
                    platformAjax({
                        url: "@Url.Action("AddNewDic", "FeImage")",
                        type: "post",
                        data: { parentdic: $("#imageGfFeDataGrid")[0].getDirectoryId(), newdicname: strnewdicname },
                        async: false,
                        success: function () {
                            $('#dlg').dialog('close');
                            Search();
                        }
                    });
                } else {
                    $.messager.alert('异常', "当前目录文件夹已经存在！", "error");
                }
            }
        });
    }

    //删除文件
    function delFile(obj) {
        var checkval = "";
        for (var i in obj) {
            checkval += obj[i].Id + ",";
        }
        if (checkval.length > 1) { checkval = checkval.substring(0, checkval.length - 1); }
        platformAjax({
            url: "@Url.Action("delFile", "FeImage")",
            type: "post",
            data: { fileids: checkval },
            async: false,
            success: function (data) {
                Search();
            }
        });
    }

    //移动目录
    function MoveSave() {
        var obj = $("#imageGfFeDataGrid")[0].getCheckList();
        var checkval = "";
        for (var i in obj) {
            checkval += obj[i].Id + ",";
        }
        if (checkval.length > 1) { checkval = checkval.substring(0, checkval.length - 1); }

        var beMoveId = checkval;
        var moveToId = $("#isMove").val();

        platformAjax({
            url: "@Url.Action("MoveFile", "FeImage")",
            type: "post",
            data: { moveid: beMoveId, moveToid: moveToId },
            async: false,
            success: function (data) {
                $('#dlgMove').dialog('close');
                Search();
            }
        });
    }

    function loadTree() {
        var curryid = $("#imageGfFeDataGrid")[0].getDirectoryId();
        var obj = $("#imageGfFeDataGrid")[0].getCheckList();
        var checkval = "";
        for (var i in obj) {
            checkval += obj[i].Id + ",";
        }
        if (checkval.length > 1) { checkval = checkval.substring(0, checkval.length - 1); }

        $('#dicTree').treegrid({
            url: '@Url.Action("DicTree", "FeImage")?parentId=' + curryid + "&isTrash=0&noShowId=" + checkval,
            idField: 'Id',
            rownumbers: true,
            lines: true,
            treeField: 'Name',
            singleSelect: true,
            onSelect: function (row) {
                $("#isMove").val(row.Id);
                $("#moveToDirectory").text(row.Name);
                //background-color: red;
                //$(".datagrid-row-checked").css("background-color", "red");

            },
            columns: [
                [
                    { field: "Id", hidden: true, align: 'center' },
                    { title: '目录名称', field: 'Name', width: '355px', halign: 'center', align: 'left' }
                ]
            ]
        });
    }


    //水印设置
    function SetWarterSave() {
        var strwatertypeid = $('#textWarterTye').combobox('getValue')
        var obj = $("#imageGfFeDataGrid")[0].getCheckList(); //设置水印       
        platformAjax({
            url: "@Url.Action("SetWarterFile", "FeImage")",
            type: "post",
            data: { listFeDataGridItemViewModel: obj, watertypeid: strwatertypeid },
            async: false,
            success: function (data) {
                $('#dlgSetWaterMark').dialog('close');
                Search();
            }
        });
    }

    //下载
    function DownloadFile() {
        var checkval = "";
        var obj = $("#imageGfFeDataGrid")[0].getCheckList();
        for (var i in obj) {
            checkval += obj[i].Id + ",";
        }
        if (checkval.length > 1) { checkval = checkval.substring(0, checkval.length - 1); }
        location.href = '@Url.Action("DownLoadPic", "FeImage")?ids=' + checkval;
    }

    //回收
    function TrashFile() {
        var checkval = "";
        var obj = $("#imageGfFeDataGrid")[0].getCheckList();
        for (var i in obj) {
            checkval += obj[i].Id + ",";
        }

        if (checkval.length > 1) { checkval = checkval.substring(0, checkval.length - 1); }
        platformAjax({
            url: "@Url.Action("TrashFile", "FeImage")",
            type: "post",
            data: { ids: checkval },
            success: function (data) {
                Search();
            }
        });
    }

    $("#imageUpFileDialog")[0].registerEventHandler("onSubmit", function () {
        $("#imageGfFeDataGrid")[0].reLoad();
    });

    $("#imageUpFileDialog")[0].overrideEventHandler("uploadBeforeSend", function (object, data, headers) {

        //element.xtag.watermarCheckboxId = this.GetUniqueId("watermarCheckbox");
        //element.xtag.watermarSelectId = this.GetUniqueId("watermarSelect");
        //element.xtag.imgSizeCheckboxId = this.GetUniqueId("imgSizeCheckbox");
        //element.xtag.imgSizeSelectId = this.GetUniqueId("imgSizeSelect");

        if ($("#" + this.xtag.watermarCheckboxId).is(":checked")) {
            data.watermarkId = $("#" + this.xtag.watermarSelectId).val();
        }

        if ($("#" + this.xtag.imgSizeCheckboxId).is(":checked")) {
            data.sizeIds = $("#" + this.xtag.imgSizeSelectId).combobox("getValues");
        }

        data.uploadType = this.xtag.uploadType;
        data.replaceId = this.xtag.replaceId;

    });

    //查看图片预览
    $(window).load(function () {
        $('#dialog').dialog({
            closed: true,
            cache: false,
            modal: true,
            title: '图片浏览器'
        });

        $("#ImageViewer")[0].closeclick = function () {
            $('#dialog').dialog('close');
        }

    });

    function imageReplace(sourceFileId) {

        $.ajax({
            url: "@Url.Content("~/FeFileUploadConfig/FileExtConfig?uploadType=Image")",
            type: "GET",
            cache: false,
            dataType: "text",
            success: function(ext) {

                $.ajax({
                    url: "@Url.Content("~/FeFileUploadConfig/FileSizeConfig?uploadType=BackImage")",
                    type: "GET",
                    cache: false,
                    dataType: "text",
                    success: function(size) {

                        $("#imageUpFileDialog")[0].xtag.uploadType = "replace";
                        $("#imageUpFileDialog")[0].xtag.replaceId = sourceFileId;
                        $("#imageUpFileDialog")[0].directoryid = $("#imageGfFeDataGrid")[0].getDirectoryId();
                        $("#imageUpFileDialog")[0].directoryname = $("#imageGfFeDataGrid")[0].getDirectoryName();
                        $("#imageUpFileDialog")[0].showimagesizecheckbox = "false";
                        $("#imageUpFileDialog")[0].fileNumLimit = 1;
                        $("#imageUpFileDialog")[0].ext = ext;
                        $("#imageUpFileDialog")[0].fileSingleSizeLimit = size;
                        $("#imageUpFileDialog")[0].open();

                    }
                });

            }
        });

    }
     document.querySelector("#imageGfFeDataGrid").init();

</script>
