

@using GroupflyGroup.FrontEnd.Web.Models

@model FeCharacterViewModel




<script type="text/javascript">
    $.parser.parse();
    $(function () {

        var operationType = "@Model.OperationType";

        $("#CharacterDetailsBtnSave").click(function () {

            var url;

            if (operationType == 1) {
                url = '@Url.Content("~/FeCharacter/Add")';
            }
            else {
                url = '@Url.Content("~/FeCharacter/Edit")';
            }

            $("#CharacterDetailsMain").showLoading();

            platformAjax({
                url: url,
                data: $("#CharacterDetailsForm").serializeArray(),
                dataType: "json",
                success: function (result) {
                    if (result.Code != 1) {
                        $.messager.alert('更新错误', result.ErrorMessage);
                    }
                    else {
                        document.body.tabGoback();
                    }
                },
                finallyCall: function () {
                    $("#CharacterDetailsMain").hideLoading();
                }
            });

        });

    });


    var TargetElement;

    function CharacterDetailsOpenSelectImg(target) {
        $("#CharacterDetailsFeImageSelector").feImageSelector("open");
        TargetElement=$(target);
    };

    $("#CharacterDetailsFeImageSelector").feImageSelector("submit", function (id, url) {        
        $(TargetElement).parent().find("img").attr("src", "@Url.Content("~/File")?id=" + id);
        $(TargetElement).parent().find(":hidden").val(id);
    });


</script>

<Gf-FeImageSelector id="CharacterDetailsFeImageSelector"
                    rootdirectoryid="@Model.FeFeCharacterImageDirectoryId"
                    dialogtitle="选择图片">
</Gf-FeImageSelector>
<div id="CharacterDetailsMain" class="main">
    <div class="editbox">
        <form id="CharacterDetailsForm">
            <h1>
                <b>属性信息</b>
            </h1>
            <table class="content" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="label"><span class="red">*</span> @Html.LabelFor(m => m.Name)：</td>
                    <td class="right">

                        <input type="text" name="@nameof(Model.Name)" value="@Model.Name" class="easyui-textbox inputText" style="width: 400px;" />
                    </td>
                </tr>
                <tr>
                    <td class="label">@Html.LabelFor(m => m.SortOrder)：</td>
                    <td class="right">
                        <input type="text" name="@nameof(Model.SortOrder)" value="@Model.SortOrder" class="easyui-numberbox inputText" style="width: 400px;" min="0" precision="2" />
                    </td>
                </tr>

                <tr>
                    <td class="label">@Html.LabelFor(m => m.BigIcon)：</td>
                    <td class="right">
                        <div style="width:200px;height:200px;">
                            @if (!string.IsNullOrEmpty(Model.BigIcon))
                            {
                                <img src="@Url.Content("~/File")?id=@Model.BigIcon" height="100%" width="100%" onerror="javascript: this.src = '@Url.Content("~/FrontEnd/Back/Content/Images/noImage.gif")'" />

                            }
                            else
                            {
                                <img src="" height="100%" width="100%" onerror="javascript: this.src = '@Url.Content("~/FrontEnd/Back/Content/Images/noImage.gif")'" />
                            }
                            @Html.HiddenFor(m => m.BigIcon)
                        </div>
                        <div onclick="CharacterDetailsOpenSelectImg(this)" style="width:200px;height:30px;background:#2084cc; color:#fff;text-align:center;vertical-align:central;cursor:pointer;">选择图片</div>
                    </td>
                </tr>

                <tr>
                    <td class="label">@Html.LabelFor(m => m.SmallIcon)：</td>
                    <td class="right">
                        <div style="width:100px;height:100px;">
                            @if (!string.IsNullOrEmpty(Model.SmallIcon))
                            {


                                <img  src="@Url.Content("~/File")?id=@Model.SmallIcon" height="100%" width="100%" onerror="javascript: this.src = '@Url.Content("~/FrontEnd/Back/Content/Images/noImage.gif")'" />

                            }
                            else
                            {
                                <img src="" height="100%" width="100%" onerror="javascript: this.src = '@Url.Content("~/FrontEnd/Back/Content/Images/noImage.gif")'" />
                            }
                            @Html.HiddenFor(m => m.SmallIcon)
                        </div>
                        <div onclick="CharacterDetailsOpenSelectImg(this)" style="width:100px;height:30px;background:#2084cc; color:#fff;text-align:center;vertical-align:central;cursor:pointer;">选择图片</div>
                    </td>
                </tr>




                <tr>
                    <td class="label">@Html.LabelFor(m => m.Icon)：</td>
                    <td class="right">
                        <input type="text" name="@nameof(Model.Icon)" value="@Model.Icon" class="easyui-textbox inputText" style="width: 400px;" min="0" precision="2" />
                        <a class="easyui-linkbutton" href="http://fontawesome.io/icons/" target="_blank">查看可用图标</a>
                    </td>
                </tr>

                <tr>
                    <td class="label">@Html.LabelFor(m => m.IsDisplay)：</td>
                    <td class="right">

                        @if (Model.IsDisplay == "on" || Model.OperationType == 1)
                        {
                            <input id="sbtnIsDisplay" class="easyui-switchbutton" name="@nameof(Model.IsDisplay)" checked data-options="onText:'是',offText:'否'" />
                        }
                        else
                        {
                            <input id="sbtnIsDisplay" class="easyui-switchbutton" name="@nameof(Model.IsDisplay)" data-options="onText:'是',offText:'否'" />
                        }

                    </td>
                </tr>


            </table>
            <div class="LayerBtn">
                <input type="button" class="savebtn" id="CharacterDetailsBtnSave" value="保存" />
                <a onclick="document.body.tabGoback();" href="javascript:void(0);">取消</a>
            </div>
            <div style="display: none">
                @Html.EditorFor(m => m.OperationType)
                @Html.EditorFor(m => m.Id)
            </div>
        </form>
    </div>
</div>