@{
    Layout = "~/FrontEnd/Front/FeTemplate/_FrontLayout.cshtml";
}


@using GroupflyGroup.FrontEnd.Web.Models
@model FrontArticleDetailViewModel

@section components{

}


@section scripts{

    <script type="text/javascript">

        $(window).load(function () {                 
            var channelNavigate = $("#articleHomeHead").feComponentArticleHomeHead("findControl", "channelNavigate");
            $(channelNavigate).feComponentChannelNavigate("selectById", "");

            $("Gf-FeTemplate-Component-ChannelNavigate").feComponentChannelNavigate("selectChanged", function (index, id, text, url) {
                indexClick(id);
            });

            $("Gf-FeTemplate-Component-ArticleHomeDetail").feComponentArticleHomeDetail("tagClick", function (tag) {
                moreClick("Tag", tag);
            });

            $("Gf-FeTemplate-Component-ArticleCategoryTitleList").feComponentArticleCategoryTitleList("moreClick", function (id) {
                moreClick("Character", id);
            });
            $("Gf-FeTemplate-Component-ArticleCategoryTitleList").feComponentArticleCategoryTitleList("itemClick", function (id) {
                itemClick(id);
            });

            //文章属性
            $("Gf-FeTemplate-Component-ArticleHomeDetail").feComponentArticleHomeDetail("detailCharacterClick", function (id) {
                moreClick("Character", id);
            });

            $("#articleCommentSubmit").feComponentCommentSubmit("AfterCommentSubmitClick", function () {
                $("#articleCommentDetailList").feComponentCommentDetailList("ContentListRefresh");

            });
        });

        function moreClick(mode, modevalue) {
            window.location = document.body["apppath"] + "FeArticle/FrontArticleSearch?mode=" + encodeURI(mode) + "&modevalue=" + encodeURI(modevalue);
        }

        function itemClick(id) {
            window.location = document.body["apppath"] + "FeArticle/FrontArticleDetails?articleId=" + encodeURI(id);
        }

        function indexClick(id) {
            window.location = document.body["apppath"] + "FeArticle/FrontChannelIndex?channelId=" + encodeURI(id);
        }

    </script>

}

@{
    var cssPath = Model.TemplateDirectoryPath + "Content/Css/Index.css";
}

@section css{
    <link href="@Url.Content(cssPath)" rel="stylesheet" />
}

<div class="BodyContent">
    <Gf-FeTemplate-CompositeComponent-ArticleHomeHead id="articleHomeHead" homehref="http://www.taobao.com">
        <div>
            <div class="tops">
                <div class="covers">
                    <div class="left">
                        <a behaviorId="goHome"></a>
                    </div>
                    <Gf-FeTemplate-Component-LoginState behaviorId="loginState"></Gf-FeTemplate-Component-LoginState>
                </div>
            </div>
            <!--logo 搜索-->
            <div class="search clearfix">
                <Gf-FeTemplate-Component-Logo behaviorId="logo" logoid="@Model.LogoId"></Gf-FeTemplate-Component-Logo>
                <!--搜索-->
                <div class="sweep-box">
                    <div>
                        <div class="offerings">
                            <input behaviorId="txtSeach" type="text">
                        </div>
                        <div class="click">
                            <input behaviorId="btnSeach" type="button">
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigate">
                <Gf-FeTemplate-Component-ChannelNavigate behaviorId="channelNavigate"></Gf-FeTemplate-Component-ChannelNavigate>
            </div>
        </div>
    </Gf-FeTemplate-CompositeComponent-ArticleHomeHead>

    <Gf-FeTemplate-Component-ArticleNavigate mode="Article" modevalue="@Model.ArticleId"></Gf-FeTemplate-Component-ArticleNavigate>

    <div class="con j-top covers clearfix">
        <div class="con-fl left">
            <Gf-FeTemplate-Component-ArticleHomeDetail id="articleHomeDetail" articleid="@Model.ArticleId"></Gf-FeTemplate-Component-ArticleHomeDetail>
            <!--文章提交评论-->
            <Gf-FeTemplate-Component-CommentSubmit autoinit id="articleCommentSubmit" sourceurl="~/FeArticleComment/AddArticleComment" sourceid="@Model.ArticleId">
            </Gf-FeTemplate-Component-CommentSubmit>
            <!--文章评论列表-->
            <Gf-FeTemplate-Component-CommentDetailList id="articleCommentDetailList" sourceurl="~/FeArticleComment/GetArticleAllComment" sourceid="@Model.ArticleId">
            </Gf-FeTemplate-Component-CommentDetailList>
        </div>
        <div class="j-con-fr fr">
            <Gf-FeTemplate-Component-ArticleCategoryTitleList characterid="@Model.Head" count="@Model.RightColumnCount"></Gf-FeTemplate-Component-ArticleCategoryTitleList>
        </div>

    </div>
    <Gf-FeTemplate-Component-FootNote></Gf-FeTemplate-Component-FootNote>
</div>