@using EB.Common
@using GroupflyGroup.Platform.ObjectFramework.Persistence
@model GroupflyGroup.Platform.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = Model.SystemTitle;
    Layout = "~/Platform/Views/Shared/_BackLayout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var menus = JSON.parse('@Html.Raw(Model.MenusJson)');

        function loadAccordion(id, text) {
            $(document.body).layout("panel", "west").parent().find(".panel-title").html(text);
            $(menus).each(function() {
                if (this.id == id) {
                    this.accordion.show();
                    this.accordion.accordion("resize");
                } else {
                    this.accordion.hide();
                }
            });
        }

        $(document).ready(function() {
            $(menus).each(function() {
                var accordionDiv = document.createElement("div");
                $(accordionDiv).css("border-bottom-width", "0");
                $("#westDiv").append(accordionDiv);
                $(accordionDiv).accordion();

                $(this.children).each(function() {
                    var tree = document.createElement("Gf-Tree");
                    tree.paddingleft = 28;
                    tree.hidefoldericon = true;
                    tree.id = this.id;
                    tree.url = '@Url.Action("GetSubMenus", "Home")';
                    tree.data = JSON.stringify(this.children).replace(new RegExp(/(")/g), '\'');
                    tree.click = "function (node) {   document.body.openMenu(node); }";

                    $(accordionDiv).accordion('add', {
                        title: '<span class="LeftMenuIcon ' + this.iconCls + '" ></span>' + this.text,
                        content: tree.outerHTML,
                        selected: false
                    });
                    $(accordionDiv).find(".panel-title").removeClass("panel-title").addClass("accordion-title");
                });
                $(accordionDiv).hide();
                this["accordion"] = $(accordionDiv);

                var m = this;
                $("#westDiv").parent().resize(function() {
                    m.accordion.accordion("resize");
                });
            });

        });

        function logOut() {
            $.messager.confirm('请确认', '是否确认注销登录？', function (r) {
                if (r) {
                    window.location.href = '@Url.Action("LogOut", "Login")';
                }
            });
        }
    </script>
}

<!--头部-->
<div data-options="region:'north'" id="Header" class="clearfix">
    <div class="logo fl">
        @if (!Model.LogoId.IsNullOrEmpty())
        {
            <img src="@Url.Content("~/file?id=" + Model.LogoId)" alt=""/>
        }
        else
        {
            <span style="color: white; font: 20px '黑体';">@Model.SystemTitle</span>
        }
    </div>
    <div class="TopNav fl">
        <ul class="nav">
            @{
                foreach (var menu in Model.Menus)
                {
                    <li><a href="javascript:void(0);" onclick="loadAccordion('@menu.id.Replace("@", "-")','@menu.text');">
                        <em>
                            <span class="TopMemuIcon @menu.iconCls"></span>
                        </em>
                        @menu.text
                    </a></li>
                }
            }
        </ul>

    </div>
    <div class="TopMem fr">
            @if (!SessionContext.Current.User.Avatar.IsNull())
            {
                <div style="display: inline; float: left;">
                    <img width="40" height="40" src="@Url.Content("~/file?id=" + SessionContext.Current.User.Avatar.Id)"/>
                </div>
            }
        <div style="display: inline; float: left; margin-top: 12px; margin-left: 5px;">
            @if (SessionContext.Current.User.Avatar.IsNull())
            {
                <span class="fa fa-user"></span>
            }
            @SessionContext.Current.User.Name
            <a onclick="logOut();" href="javascript:void(0);" style="font-size: 20px; color: red;" class="fa fa-power-off"></a>
        </div>
    </div>
</div>

<!--左侧菜单-->
<div data-options="region:'west',title:'主菜单',split:true,collapsible:true" class="LeftMenu">
    <div class="" id="westDiv"></div>

</div>

<!--内容-->
<div data-options="region:'center'">
    <div id="frametabs" class="frametabs" is="gf-tabs" closable fit></div>
</div>

<!--脚部-->
<div data-options="region:'south'" class="Footer">
    @Model.CopyRight
</div>