@using GroupflyGroup.Platform.ObjectFramework.Strings
@using GroupflyGroup.Platform.Web.Common
@model GroupflyGroup.Platform.Web.Models.FileCollectionViewModel

<div class="easyui-layout" style="width: 99%; height: 99%;">
    <div data-options="region:'west',title:'文件目录',split:true,collapsible:true" style="width: 200px; padding: 2px;">
        <Gf-Tree data="@Html.Raw(Model.FileModels.ObjectToJson().Replace("\"", "'"))" hidefoldericon
                 url="@Url.Action("GetSubFiles","File")"
                 click="function(node){ 
                 var grid = $(node.target).closest('.easyui-layout').find('gf-datagrid')[0];
                 grid.queryData([{  field: '@PropertyNames.parent', type: '@Const.Oper_Equals', value: node.id }]);
                 grid.setCustomAttr('directoryname',node.text)}" ></Gf-Tree>
    </div>
    <div data-options="region:'center'" style="padding: 2px; background: #eee;">
        @this.GfDataGrid(Model,new { orderby = "name", isAsc="asc", onafterinit = $@"element.queryData([{{  field: '{PropertyNames.parent}', type: '{Const.Oper_Equals}', value:'{FileIDs.root}'  }}]);
        element.registerEventHandler('onafterSaveList',function(){{  var tree = $(element).closest('.easyui-layout').find('gf-tree')[0];tree.reload(); }});" })
    </div>
</div>