@using GroupflyGroup.Platform.Web.Common;



<style type="text/css">
    .documentfile {
        margin-left: 20px;
        font-size: 24px;
        width: 24px;
        height: 24px;
        color: #f8aa4c;
    }

    .FeDocument .querybox li label {
        text-align: left;
        width: 72px;
    }
  
</style>
   



<div data-options="fit:true" class="easyui-layout main FeDocument" style="overflow: hidden;">
    <div data-options="region:'north',split:false" style="height:155px;max-height:200px;border-top-width:0px;">
        <div id="Query" class="querybox">
            <ul class="clearfix">
                <li>
                    <label for="labeldicName">文件夹：</label>
                    <input id="textdicName" class="easyui-textbox" type="text" name="dicName" style="width: 185px;" />
                </li>
                <li>
                    <label for="labelPicName">文档名称：</label>
                    <input id="textPicName" class="easyui-textbox" type="text" name="PicName" style="width: 185px;" />
                </li>
                <li>
                    <label for="labelCreator">上传者：</label>
                    <input id="textCreator" class="easyui-textbox" type="text" name="Creator" style="width: 185px;" />
                </li>
            </ul>
            <ul class="clearfix" style="margin-bottom: 10px;">
                <li>
                    <label for="modifiedOndOn">删除时间：</label>
                    <input id="modifiedOndBeginDate" type="text" class="easyui-datebox" editable="false" style="width: 185px;"> 
                    <a style="padding:0 56px 0 7px;">至</a> 
                    <input id="modifiedOndEndDate" type="text" editable="false" class="easyui-datebox" style="width: 185px;">
                </li>
                <li>
                    <input type="checkbox" id="AloneShowDocument" name="AloneShowDocument" value="1" style="position:relative;top:5px;" />只显示文档
                </li>

                <li style="padding-left:66px;">
                    <a id="butQuery" class="easyui-linkbutton ml20" data-options="iconCls:'icon-search'" onclick="FeDocumentSearch()">查询</a>
                </li>
            </ul>
        </div>

        <div class="tablelist">
            <div class="datagrid-toolbar" style="padding:10px 0;">
                <ul class="clearfix">
                    <li>
                        <a name="FeImageRecycleRecovery" class="easyui-linkbutton" onclick="FeDocumentTrash()">恢复</a>
                        <a name="FeImageRecycleDel" class="easyui-linkbutton" onclick="FeDocumentRemoveCompletely()">彻底删除</a>
                        <a name="FeImageRecycleDelEmpty" class="easyui-linkbutton" onclick="FeDocumentClearCompletely()">清空回收站</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tablelist"  data-options="region:'center',split:false">
        
        <Gf-FeDataList id="DocumentRecycleGridList"></Gf-FeDataList>
        
    </div>
</div>


<script>
    $.parser.parse();
    //绑定表头
    function FeDocumentBindGrid() {
        var columns = [];
        columns.push({ field: 'ck', checkbox: true, width: "100px", align: 'center',width:"335px" });
        columns.push({
            field: 'Name', title: '名称', halign: 'center', align: 'left', width: "335px",
            formatter: function (value, row, index) {
                var e = "";
                if (row.Icon == "" || row.Icon == null) {
                    e = "<span  id=\'faicon\' class=\"" + row.FaIcon + " documentfile\"></span>" + row.Name;
                } else {
                    e = "<img  id=\'fileiamge\' src=\'" + document.body["apppath"] + row.Icon + "\' style=\"margin-left:20px;height:24px;width:24px\"  /> " + row.Name;
                }
                return e;
            }
        });
        columns.push({ field: 'ExtensionName', title: '类型', align: 'center', width: "335px" });
        columns.push({ field: 'Size', title: '大小', align: 'center', width: "335px" });
        columns.push({ field: 'Creator', title: '上传人', align: 'center', width: "335px" });
        columns.push({ field: 'ModifiedOn', title: '删除时间', align: 'center', width: "335px" });

        document.querySelector("#DocumentRecycleGridList").SetDataGrid(columns);
    };
    //绑定分页数据
    function FeDocumentBindData(pagenumber) {

        var url="@Url.Action("GetRecyclePageList", "FeDocument")";

        var param=FeDocumentGetParam();

        document.querySelector("#DocumentRecycleGridList").SearchData(url, param, pagenumber);
    };


    function FeDocumentGetParam(){
        //文件夹名称
        var dicname = $("#textdicName").val();
        //文档名称
        var picname = $("#textPicName").val();
        //创建人
        var creator = $("#textCreator").val();
        //是否是只显示文档
        var showdocument = $("#AloneShowDocument").is(":checked");
        //添加时间
        var startTime = $('#modifiedOndBeginDate').datetimebox('getValue');

        var endTime = $('#modifiedOndEndDate').datetimebox('getValue');

        var param = [];

        if (dicname != "") {
            param.push({ field: "dicname", type: "@Const.Oper_Contains", value: dicname });
        }
        if (picname != "") {
            param.push({ field: "picname", type: "@Const.Oper_Contains", value: picname });
        }
        if (creator != "") {
            param.push({ field: "creator", type: "@Const.Oper_Contains", value: creator });
        }

        if (showdocument != "") {
            param.push({ field: "showdocument", type: "@Const.Oper_Contains", value: showdocument });
        }
        if (startTime != "") {
            param.push({ field: "begindate", type: "@Const.Oper_GreaterOrEquals", value: startTime });
        }

        if (endTime != "") {
            param.push({ field: "modifiedOndOn", type: "@Const.Oper_LessOrEquals", value: endTime });
        }

       return  JSON.stringify(param);
    }


    //恢复
    function FeDocumentTrash() {
        var rows = document.querySelector("#DocumentRecycleGridList").GetSelections();
        if (rows.length <= 0) {
            alert("请选择一条记录");
            return;
        }
       
        platformAjax({
            url: "@Url.Action("Trash", "FeDocument")",
            type: "post",
            data: { listfefile: rows },
            success: function (result) {
                FeDocumentBindData()
            }
        });

    }

    function FeDocumentRemoveCompletely() {
        var rows = document.querySelector("#DocumentRecycleGridList").GetSelections();
        if (rows.length <= 0) {
            alert("请选择一条记录");
            return;
        }
        platformAjax({
            url: "@Url.Action("RemoveCompletely", "FeDocument")",
            type: "post",
            data: { listfefile: rows },
            success: function (result) {
                FeDocumentBindData();
            }
        });
    }

    //清空回收站
    function FeDocumentClearCompletely() {
        platformAjax({
            url: "@Url.Action("ClearCompletely", "FeDocument")",
            type: "post",
            success: function (result) {
                $('#gridListDocumentRecycle').datagrid('getPager').pagination("select", 1);
                $('#gridListDocumentRecycle').datagrid("loaded");
            }
        });
    }

    function FeDocumentSearch() {
        FeDocumentBindData(1);
    }

    $(function () {
        //绑定表头
        FeDocumentBindGrid();
        //绑定分页数据
        FeDocumentBindData();
    });
</script>

