
@using GroupflyGroup.FrontEnd.ObjectFramework.Strings
@using GroupflyGroup.FrontEnd.Web.Models
@model FePersonEditViewModel




<script type="text/javascript">
    $.parser.parse();
    $(function () {

        $("#PersonBtnSave").click(function () {

            var postdata = $("#PersonForm").serializeObject();

            if (!postdata.UserName && !postdata.Id) {
                $.messager.alert('提示', '请填写 ' + '@Html.DisplayNameFor(m => m.UserName)');
                return;
            }
            if (!postdata.FirstName) {
                $.messager.alert('提示', '请填写 ' + '@Html.DisplayNameFor(m => m.FirstName)');
                return;
            }

            if (!postdata.Password && !postdata.PasswordConfirm) {} else {
                if (postdata.Password == postdata.PasswordConfirm) {} else {
                    $.messager.alert('提示', '确认登录密码不一致，请重新填写！');
                    return;
                }
            }

            $("#PersonMain").showLoading();
            platformAjax({
                url: "@Url.Action("PersonEdit", "FeUser")",
                data: postdata,
                dataType: "json",
                success: function (result) {
                    if (result.Code != 1) {
                        $.messager.alert('更新错误', result.ErrorMessage);
                    }
                    else {
                        document.body.tabGoback();
                    }
                },
                finallyCall: function () {
                    $("#PersonMain").hideLoading();
                }
            });

        });

    });

    var TargetElement;

    function PersonOpenSelectImg(target) {
        $("#PersonFeImageSelector").feImageSelector("open");
        TargetElement=$(target);
    };

    $("#PersonFeImageSelector").feImageSelector("submit", function (id, url) {
        $(TargetElement).parent().find("img").attr("src", "@Url.Content("~/File")?id=" + id);
        $(TargetElement).parent().find(":hidden").val(id);
    });


</script>

<Gf-FeImageSelector id="PersonFeImageSelector"
                    rootdirectoryid="@Model.ImageDirectoryId"
                    dialogtitle="选择图片">
</Gf-FeImageSelector>

<div id="PersonMain" class="main">
    <div class="editbox">
        <form id="PersonForm">
            <h1><b>基本信息</b></h1>
            <table class="content" cellpadding="0" cellspacing="0">
                @if (!string.IsNullOrEmpty(Model.Id))
                {
                    <tr>
                        <td class="label" valign="top">@Html.DisplayNameFor(m => m.Id)：</td>
                        <td class="right">@Html.DisplayFor(m => m.Id)</td>
                    </tr>
                }
                <tr>
                    <td class="label" valign="top"><span class="red">*</span>@Html.DisplayNameFor(m => m.UserName)：</td>
                    <td class="right">
                        @Html.HiddenFor(m => m.Id)
                        
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Html.DisplayFor(m => m.UserName)                            
                        }
                        else
                        {
                            <input type="text" name="@nameof(Model.UserName)" value="@Model.UserName" class="easyui-textbox inputText" style="width: 400px;" />
                        }
                    </td>
                </tr>

                @if (!string.IsNullOrEmpty(Model.Id))
                {
                    <tr>
                        <td class="label" valign="top">@Html.DisplayNameFor(m => m.UserTypeLabel)：</td>
                        <td class="right">
                            @Html.DisplayFor(m => m.UserTypeLabel)
                        </td>
                    </tr>
                }
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.LastName)：</td>
                    <td class="right">
                        @Html.TextAreaFor(m => m.LastName, new
                   {
                       @class = "easyui-textbox inputText",
                       style = "width:400px;"
                   })
                    </td>
                </tr>
                <tr>
                    <td class="label" valign="top"><span class="red">*</span>@Html.DisplayNameFor(m => m.FirstName)：</td>
                    <td class="right">
                        @Html.TextAreaFor(m => m.FirstName, new
                   {
                       @class = "easyui-textbox inputText",
                       style = "width:400px;"
                   })
                    </td>
                </tr>

                <tr>
                    <td class="label">@Html.LabelFor(m => m.Avatar)：</td>
                    <td class="right">
                        <div style="width:200px;height:200px;">
                            @if (!string.IsNullOrEmpty(Model.Avatar))
                            {
                                <img src="@Url.Content("~/File")?id=@Model.Avatar" height="100%" width="100%" onerror="javascript: this.src = '@Url.Content("~/FrontEnd/Back/Content/Images/noImage.gif")'" />

                            }
                            else
                            {
                                <img src="" height="100%" width="100%" onerror="javascript: this.src = '@Url.Content("~/FrontEnd/Back/Content/Images/noImage.gif")'" />
                            }
                            @Html.HiddenFor(m => m.Avatar)
                        </div>
                        <div onclick="PersonOpenSelectImg(this)" style="width:200px;height:30px;background:#2084cc; color:#fff;text-align:center;vertical-align:central;cursor:pointer;">选择图片</div>
                    </td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.Sex)：</td>
                    <td class="right"><Gf-ListValueCombobox autoinit name="@nameof(Model.Sex)" defaultoption="请选择" value="@Model.Sex" source="@FeListIDs.Sex"></Gf-ListValueCombobox></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.Birthday)：</td>
                    <td class="right"><Gf-DatePicker autoinit name="@nameof(Model.Birthday)" value="@Model.Birthday"></Gf-DatePicker></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.PersonEmail)：</td>
                    <td class="right"><input type="text" name="@nameof(Model.PersonEmail)" value="@Model.PersonEmail" class="easyui-textbox inputText" style="width: 400px;" /></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.PersonCell)：</td>
                    <td class="right"><input type="text" name="@nameof(Model.PersonCell)" value="@Model.PersonCell" class="easyui-textbox inputText" style="width: 400px;" /></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.Location)：</td>
                    <td class="right"> <Gf-MultCombobox autoinit name="@nameof(Model.Location)" defaultoption="请选择" value="@Model.Location" valuefield="id" textfield="label" rootvalue="@Model.LocationRoot" data="@Model.LocationData"></Gf-MultCombobox></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.Address)：</td>
                    <td class="right">
                        @Html.TextAreaFor(m => m.Address, new
                   {
                       @class = "easyui-textbox inputText",
                       style = "width:400px;"
                   })
                    </td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.Email)：</td>
                    <td class="right"><input type="text" name="@nameof(Model.Email)" value="@Model.Email" class="easyui-textbox inputText" style="width: 400px;" /></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@Html.DisplayNameFor(m => m.Cell)：</td>
                    <td class="right"><input type="text" name="@nameof(Model.Cell)" value="@Model.Cell" class="easyui-textbox inputText" style="width: 400px;" /></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@if (string.IsNullOrEmpty(Model.Id))
                    {<span class="red">*</span> }@Html.DisplayNameFor(m => m.Password)：</td>
                    <td class="right"><input type="password" name="@nameof(Model.Password)" value="@Model.Password" class="easyui-textbox inputText" style="width: 400px;" /></td>
                </tr>
                <tr>
                    <td class="label" valign="top">@if (string.IsNullOrEmpty(Model.Id))
                    {<span class="red">*</span> }@Html.DisplayNameFor(m => m.PasswordConfirm)：</td>
                    <td class="right"><input type="password" name="@nameof(Model.PasswordConfirm)" value="@Model.PasswordConfirm" class="easyui-textbox inputText" style="width: 400px;" />
                    </td>
                </tr>

                @if (!string.IsNullOrEmpty(Model.Id))
                {
                    <tr>
                        <td class="label" valign="top">@Html.DisplayNameFor(m => m.RegisterTime)：</td>
                        <td class="right">@Html.DisplayFor(m => m.RegisterTime)</td>
                    </tr>
                    <tr>
                        <td class="label" valign="top">@Html.DisplayNameFor(m => m.RegisterFrom)：</td>
                        <td class="right">@Html.DisplayFor(m => m.RegisterFrom)</td>
                    </tr>
                    <tr>
                        <td class="label" valign="top">@Html.DisplayNameFor(m => m.LastLoginTime)：</td>
                        <td class="right">@Html.DisplayFor(m => m.LastLoginTime)</td>
                    </tr>
                }
            </table>


            <div class="LayerBtn">
                <input type="button" class="savebtn" id="PersonBtnSave" value="保存" />
                <input type="button" onclick="document.body.tabGoback();" class="savebtn" value="返回列表" />
            </div>
            <div style="display: none">
                @Html.EditorFor(m => m.Id)
            </div>
        </form>
    </div>
</div>



