@using GroupflyGroup.Platform.ObjectFramework.Persistence
@{
    ViewBag.Title = "绑定邮箱";
}
<div class="dpsc_mian">
    <p class="ptitle">
        <a href="@Url.Action("Index","FeAccount")">账户管理</a><span class="breadcrume_icon">>></span><a onclick="refreshRight('@Url.Action("Index","FeUserSafe")')" href="javascript:void(0);">账户安全设置</a><span class="breadcrume_icon">>></span>
        <span class="breadcrume_text">绑定邮箱</span>
    </p>


    <div id="A_BindEmail">
        <script type="text/javascript">
            var timerId;
            var $thisid;
            $(function () {

                $("#a1").click(function () {
                    if (ExistEmail()) {
                        platformAjax({
                            url: "@Url.Action("DoBindEmail", "FeUserSafe")",
                            data: { email: $("#J_UserEmail").val(), userid: "@SessionContext.Current.User.Id" },
                            dataType: "json",
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $("#step1").hide();
                                    $("#step2").show();
                                    $("#li_Select").removeClass(".first current");
                                    $("#li_GetCode").removeClass(".next");
                                    $("#li_GetCode").addClass("first current");
                                    //$("#nextEmail").html($("#J_UserEmail").val());
                                }
                                else {
                                    $("#spanShowMsg").get(0).className = "onError1";
                                    $("#spanShowMsg").text("绑定邮箱出错" + result.Message);
                                }
                            },
                            fail: function (result) {
                                console.log(result.Message);
                            },
                            error: function (result) {
                                console.log(result);
                            }
                        });

                    }

                });





                $("#a4").click(function () {
                    platformAjax({
                        url: "@Url.Action("DoUnbindEmail", "FeUserSafe")",
                        data: { email: $("#LabelEmail").text(), userid: "@SessionContext.Current.User.Id" },
                        dataType: "json",
                        success: function (result) {
                            if (result.IsSuccess) {
                                $("#li_Select").removeClass(".first current");
                                $("#li_GetCode").addClass("first current");
                                $("#li_GetCode").addClass(".next");
                                //$("#li_Succuess").removeClass(".last");
                                //$("#li_Succuess").addClass(".first current");
                                $("#step4").hide(); $("#step2").show();
                                $("#li_Select").html("<span>1.验证原邮箱</span>");
                                $("#li_GetCode").html("<span>2.解绑验证</span>");
                            }
                            else {
                                $("#spanShowMsg").get(0).className = "onError1";
                                $("#spanShowMsg").text("解绑邮箱出错" + result.Message);
                            }
                        },
                        fail: function (result) {
                            console.log(result.Message);
                        },
                        error: function (result) {
                            console.log(result);
                        }
                    });

                });

            });


            $(function () {
                var isreg = $("#hidIsEmailActivation").val();
                if (isreg == "1") {
                    $("#step1").hide();
                    $("#step4").show();
                    $("#li_Select").html("<span>1.验证原邮箱</span>");
                    $("#li_GetCode").html("<span>2.解绑验证</span>");
                }
            })

            //判断Email格式
            function ExistEmail() {
                var str = $("#J_UserEmail").val();
                var v_flag = false;
                if (str != "") {
                    if (CheckEmailCommon(str)) {
                        v_flag = true;
                    }
                    else {
                        $("#span_emailValue").get(0).className = "onError1";
                        $("#span_emailValue").text("邮箱格式不正确");
                    }
                }
                else {
                    $("#span_emailValue").get(0).className = "onError1";
                    $("#span_emailValue").text("请输入邮箱");
                }
                return v_flag
            }


            function checkEmailValue() {
                if (ExistEmail()) {
                    platformAjax({
                        url: "@Url.Action("CheckEmail", "FeUserSafe")",
                        data: { email: $("#J_UserEmail").val() },
                        dataType: "json",
                        success: function (result) {
                            console.log(result);
                            if (result.IsSuccess) {
                                $("#span_emailValue").get(0).className = "onCorrect1";
                                $("#span_emailValue").text("");
                            }
                            else {
                                $("#span_emailValue").get(0).className = "onError1";
                                $("#span_emailValue").text("邮箱已经被使用过了");
                            }
                        },
                        fail: function (result) {
                            console.log(result.Message);
                        },
                        error: function (result) {
                            console.log(result);
                        }
                    });

                }
            }


            function BtnSubmit() {
                refreshRight('@Url.Action("Index", "FeUserSafe")');
            }


        </script>
        <input type="hidden" name="hidIsEmailActivation" id="hidIsEmailActivation" value="@ViewBag.isVerified" />
        <div id="A_BindEmail_ctl00_mobilecheck">
            <div class="main-right" id="main-right" style="float:none;">
                <div class="ps_width clearfix" style="margin-left:5px;">
                    <h1 class="bw h1c"></h1>
                    <div class="notify main_tip">
                        <div class="notify_correct">
                            <span class="f14 bw rw notify_correct_text">
                                完成绑定邮箱，可以有效防止账户被盗后的损失。
                            </span>
                            <ul>
                                <li>邮箱账号绑定后可以登录商城登陆，交易密码修改等操作。</li>
                                <li>商城会对您的信息严格保密。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pp_steps three_steps">
                        <ol>
                            <li class="first current" id="li_Select">
                                <span>1.输入邮箱</span>
                            </li>
                            <li class="next" id="li_GetCode">
                                <span>2.绑定验证</span>
                            </li>
                            <li class="last" id="li_Succuess">
                                <span>3.成功</span>
                            </li>
                        </ol>
                    </div>

                    <div class="form_top" id="step1">


                        <div class="form_row">
                            <span class="form_left">
                                请输入邮箱：
                            </span>
                            <div class="form_right" style="position: relative;">
                                <span id="J_m_77cbc1f75a" style="display: none; position: absolute; left: 0px; top: -42px;" class="mf"></span>
                                <input type="text" name="Email" id="J_UserEmail" class="intext nullv tov" autocomplete="off" maxlength="50" onblur="checkEmailValue()">
                                <span class="star" id="span_emailValue">*</span>

                            </div>
                        </div>
                        <div class="form_row form_height_auto_row clearfix">
                            <span class="form_left">
                            </span>
                            <div class="form_right">
                                <a href="javascript:void(0)" id="a1" class="btn btn-green J_ftrack">确认绑定</a>
                            </div>
                        </div>
                    </div>

                    <div id="step2" style="display:none;">
                        <div style="padding:20px; text-align:center;">
                            <font style="font-size:16px; font-family:微软雅黑; display:block; margin-bottom:20px;">
                                亲爱的<span id="A_BindEmail_ctl00_Lab_MemLoginID">@SessionContext.Current.User.Name</span>,
                                你的邮箱
                                <span id="span_email"> </span>
                                等待验证，请打开邮箱验证。
                            </font>
                        </div>
                    </div>
                    <div id="step3" style="display:none;">
                        <div style="padding:20px; text-align:center;">
                            <font style="font-size:16px; font-family:微软雅黑; display:block; margin-bottom:20px;">
                                <span id="A_BindEmail_ctl00_Lab_MemLoginID">@SessionContext.Current.User.Name</span>,
                                恭喜你,你的邮箱
                                <span id="span_email"> </span>
                                绑定成功
                            </font>
                            <br />
                            <input type="submit" name="A_BindEmail$ctl00$btn_Next" value="确定" onclick="return BtnSubmit();" id="A_BindEmail_ctl00_btn_Next" class="J_ftrack btn btn-green" />
                            <input name="A_BindEmail$ctl00$hid_Email" type="hidden" id="A_BindEmail_ctl00_hid_Email" class="tov" />
                        </div>
                    </div>
                    <div class="form_top" style="display:none" id="step4">
                        <div class="form_row">
                            <span class="form_left">
                                绑定的邮箱：
                            </span>
                            <span class="form_right f14" id="nextEmail">
                                <span id="LabelEmail">@SessionContext.Current.User.Email</span>
                            </span>
                        </div>
                        <input type="hidden" value="@SessionContext.Current.User.Email" name="mobile" class="tov">

                        <div id="J_phone_msg_row" class="form_row form_height_auto_row nice_info_row clearfix">
                            <span class="form_left">
                            </span>
                            <div class="form_right">
                                <div class="phone_info">
                                    <div id="J_phone_info">
                                        <span class="l">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_row form_height_auto_row clearfix">
                            <span class="form_left">
                            </span>
                            <div class="form_right">
                                <a href="javascript:void(0)" id="a4" class="J_ftrack btn btn-green">
                                    确认解绑
                                </a>
                                <span id="spanShow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form_top">
                        <div class="form_row form_height_auto_row clearfix">
                            <div class="bp_faq">
                                <h4 class="bw f16">
                                    服务说明：
                                </h4>
                                <ul>
                                    <li class="bw bp_q">
                                        该服务完全免费；
                                    </li>
                                    <li>
                                        你绑定的邮箱，可进行登陆商城系统，修改交易密码等操作，我们会对你的信息进行严格的保密。
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>