@using GroupflyGroup.Platform.ObjectFramework.Persistence
@{
    ViewBag.Title = "账户管理-账户安全设置";
}
@*<script type="text/javascript" language="javascript" src="/js/artDialog/artDialog.js"></script>
    <link type="text/css" href="/js/artDialog/skins/chrome.css" rel="stylesheet"></link>*@
<script src="~/Platform/Content/Scripts/MD5.js" type="text/javascript"></script>
<div class="dpsc_mian">
    <p class="ptitle"><a href="@Url.Action("Index","FeAccount")">账户管理</a><span class="breadcrume_icon">>></span><a href="@Url.Action("Index","FeUserSafe")">账户安全设置</a><span class="breadcrume_icon">>></span><span class="breadcrume_text">修改账户密码</span></p>

    <span id="A_UpPwd">
        <div id="content">
            <div>
                <table id="A_UpPwd_ctl00_T_UpPwd" border="0" cellspacing="0" cellpadding="0" class="tabbiao">
                    <tr>
                        <td class="tab_r">
                            <span class="star">*</span>旧密码：
                        </td>
                        <td style="width: 250px;">
                            <input type="password" name="oldPassword" id="oldPassword" class="textwb" maxlength="20" /><span></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="tab_r">
                            <span class="star">*</span>新密码：
                        </td>
                        <td>
                            <input type="password" name="password" id="password" class="textwb" maxlength="20" /><span></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="tab_r">
                            <span class="star">*</span>确认新密码：
                        </td>
                        <td>
                            @Html.Password("confirmPassword", null, new { @class = "textwb", maxlength = 20 })<span></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="tab_r">
                            &nbsp;
                        </td>
                        <td style="padding: 10px 0px 10px 0px;">
                            <input type="button" name="btnModify" value="修改" id="btnModify" class="querbtn" />
                            <input type="button" name="btnBack" value="返回" id="btnBack" class="querbtn" />
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <script type="text/javascript">
            $(":password").focus(function () {
                $(this).siblings("span").html("请输入6~20位密码").addClass("onTips1");
            })
            $("#btnBack").click(function () {
                refreshRight('@Url.Action("Index", "FeUserSafe")');
            })
            $("#btnModify").click(function () {
                let oldPassword = $("#oldPassword").val();
                if (!oldPassword) {
                    $("#oldPassword").siblings("span").html("请输入密码").addClass("onError1");
                    return;
                }

                let password = $("#password").val();
                let confirmPassword = $("#confirmPassword").val();
                if (!password) {
                    $("#password").siblings("span").html("请输入密码").addClass("onError1");
                    return;
                } else {
                    $("#password").siblings().html("").removeClass("onError1");
                    if (confirmPassword != password) {
                        $("#confirmPassword").siblings("span").html("确认密码与新密码不一致").addClass("onError1");
                        return;
                    } else {
                        $("#confirmPassword").siblings("span").html("").removeClass("onError1");
                    }
                }

                    //$("#A_UpPwd").showLoading();
                    platformAjax({
                        url: "@Url.Action("UpdatePassword", "FeUserSafe")",
                        data: { oldPwd: hex_md5($("#oldPassword").val()), newPwd: $("#password").val() },
                        dataType: "json",
                        success: function (result) {
                            $("#oldPassword,#password,#confirmPassword").val("");
                            //$.messager.alert('提示', "更新成功");
                            $("Gf-FeTemplate-Component-Messager").feComponentMessager("show", { title: "提示", msg: "账户密码成功", position: 'bottomRight' });
                        },
                        fail: function (result) {
                            console.log("更新失败" + result.Message);
                            $("Gf-FeTemplate-Component-Messager").feComponentMessager("show", { title: "提示", msg: result.Message, position: 'bottomRight' });
                        },
                        error: function (result) {
                            console.log(result);
                        }
                    });
                

            })

            function checkOldPassword() {
                let flag = false;
                let oldPassword = $("#oldPassword").val();
                if (!oldPassword) {
                    $("#oldPassword").siblings("span").html("请输入密码").addClass("onError1");
                    return flag;
                }

                platformAjax({
                    url: "@Url.Action("CheckPassword","FeUserSafe")",
                    data: { oldPwd: hex_md5(oldPassword) },
                    dataType: "json",
                    success: function (result) {
                        flag = true;
                    },
                    fail: function (result) {
                        $("#oldPassword").siblings("span").html("旧密码不正确").addClass("onError1");
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
                return flag;
            }
            function checkNewPassword() {
                let flag = false;
                let password = $("#password").val();
                let confirmPassword = $("#confirmPassword").val();
                if (!password) {
                    $("#password").siblings("span").html("请输入密码").addClass("onError1");
                } else {
                    $("#password").siblings("span").html("");
                    if (confirmPassword != password) {
                        $("#confirmPassword").siblings("span").html("确认密码与新密码不一致").addClass("onError1");
                    } else {
                        $("#confirmPassword").siblings("span").html("");
                        flag = true;
                    }
                }
                return flag;
            }
        </script>

        <script type="text/javascript" language="javascript">


            function existOldPwd() {
                var context = document.getElementById("span_OldPwd");
                var result = false;
                if ($("#A_UpPwd_ctl00_Input_OldPwd").val() != "") {
                    $.ajax
                    ({
                        url: "/api/CheckMemberLogin.ashx",
                        async: false,
                        data: "type=checkoldpwd&oldpwd=" + $("#A_UpPwd_ctl00_Input_OldPwd").val() + "",
                        success: function (result) {
                            if (result == "true") {
                                context.innerHTML = "";
                                context.className = "onCorrect1";
                                result = true;
                            }
                            else {
                                context.innerHTML = "旧密码错误";
                                context.className = "onError1";
                                result = false;
                            }
                        }
                    })
                }
                else {
                    context.innerHTML = "请输入旧密码";
                    context.className = "onError1";
                    result = false;
                }
                return result;
            }

            var weakPwdArray = "123456123456789111111520131412345678123123password";
            //验证密码
            function existepwd() {
                var boolresult = true;
                var inputcontrol = $("#A_UpPwd_ctl00_Input_NewPwd").val();
                var context = document.getElementById("span_NewPwd");

                if (inputcontrol != "") {
                    var reg = new RegExp("^[a-zA-Z0-9]{6,15}$");
                    if (weakPwdArray.indexOf(inputcontrol) != -1) {
                        context.innerHTML = "该密码比较简单，有被盗风险，建议您更改为复杂密码";
                        context.className = "onError1";
                        boolresult = false;
                    }
                    else if (reg.test(inputcontrol)) {
                        context.innerHTML = "";
                        context.className = "onCorrect1";
                        boolresult = true;
                    }
                    else {
                        context.innerHTML = "密码格式不正确";
                        context.className = "onError1";
                        boolresult = false;
                    }
                }
                else {
                    context.innerHTML = "密码不能为空";
                    context.className = "onError1";
                    boolresult = false;
                }
                return boolresult;
            }

            //验证确认密码
            function existesurepwd() {
                var boolresult = true;
                var inputcontrol = $("#A_UpPwd_ctl00_Input_NewSecondPwd").val();
                var context = document.getElementById("span_NewSecondPwd");
                var pwd = $("#A_UpPwd_ctl00_Input_NewPwd").val();
                if (inputcontrol != "") {
                    var reg = new RegExp("^[a-zA-Z0-9]{6,15}$");
                    if (reg.test(inputcontrol)) {
                        context.innerHTML = "";
                        context.className = "onCorrect1";
                        boolresult = true;
                    }
                    else {
                        context.innerHTML = "确认密码格式不正确";
                        context.className = "onError1";
                        boolresult = false;
                        return boolresult;
                    }
                }
                else {
                    context.innerHTML = "密码不能为空";
                    context.className = "onError1";
                    boolresult = false;
                    return boolresult;
                }

                if (inputcontrol != pwd) {
                    context.innerHTML = "两次密码不一致";
                    context.className = "onError1";
                    boolresult = false;
                }
                return boolresult;
            }


            function CheckSumbit() {
                var p1 = existepwd();
                var p2 = existesurepwd();
                var p3 = existOldPwd();
                if (p1 & p2 & $("#span_OldPwd").attr("class") == "onCorrect1") {
                    return true;
                }
                return false;
            }

        </script>

    </span>

</div>
